<div>
   <header>February 25, 2017</header>
   <p class=external-site>Release 1.2.3 adds webpack support.  See sample projects
   <a href=https://github.com/santios/dnajs-webpack-starter>dnajs-webpack-starter</a>
   and
   <a href=https://github.com/dnajs/webpack-to-do-list>webpack-to-do-list</a>.</p>
</div>
<div>
   <header>January 29, 2017</header>
   <p>Release 1.2.2 adds support for Node.js module loading system using
   <code style="font-size: 0.75rem; padding: 0px;">var dna = require('dna.js')(window, $);</code></p>
</div>
<div>
   <header>November 3, 2016</header>
   <p>dna.js is now officially out of beta with the new v1.0.0 release.</p>
</div>
<div>
   <header>February 21, 2016</header>
   <p>Tutorial published on how to build a <span>REST-driven</span> search component:
   <a href=https://youtu.be/@@youTube.tutorial>youtu.be/@@youTube.tutorial</a></p>
</div>
<div>
   <header>November 16, 2015</header>
   <p>We need a real logo!  See the <b>logo contest</b>:
   <a href=https://github.com/dnajs/dna.js/issues/14 class=external-site>github.com/dnajs/dna.js/issues/14</a></p>
</div>
<div>
   <header>August 3, 2015</header>
   <p>Release 0.4.0 introduces
   <a href=http://jsfiddle.net/@@jsFiddle.smartUpdates class=external-site>smart updates</a>
   for throttling REST calls during live editing.</p>
</div>
<div>
   <header>April 30, 2015</header>
   <p>dna.js is now available on the
   <a href=http://www.jsdelivr.com/#!dna.js class=external-site>jsDelivr CDN</a>.</p>
</div>
<div>
   <header>February 17, 2015</header>
   <p>Release 0.3.5 introduces transformers... the
   <a href=docs/#event-transform>FINAL chapter</a>
   in keeping your JS from polluting your HTML.</p>
</div>
<div>
   <header>July 21, 2014</header>
   <p>Release 0.2.1 has a new velvety smooth slide+fade effect and adds support
   for direct access to the data model and convenient event binding.</p>
</div>
<div>
   <header>July 7, 2014</header>
   <p>Release 0.1.6 adds support for mutating values in
   sub-templates (array loops).</p>
</div>
<div>
   <header>June 3, 2014</header>
   <p>Release 0.1.5 adds support for simple arrays and for numeric and
   boolean field types.</p>
</div>
<div>
   <header>February 6, 2014</header>
   <p>Release 0.1.4 adds support for sub-templates (array loops).&nbsp;
   The clone function can now handle an array of objects that includes arrays of
   more objects.</p>
</div>
<div>
   <header>September 4, 2013</header>
   <p><b>Beta announcement for dna.js:</b> The first beta release of <i>dna.js
   Semantic Templates</i> is available for download.&nbsp; dna.js is the world's
   easiest to use DOM templating engine for jQuery.&nbsp; It helps web
   developers keep their HTML and JavaScript cleanly separated.</p>
</div>
