<footer>
   <div>
      <a rel=license href=http://creativecommons.org/licenses/by-sa/4.0>
         <img src=https://licensebuttons.net/i/l/by-sa/transparent/33/33/33/88x31.png alt=license>
      </a>
      <p id=social-buttons></p>
   </div>
</footer>

<script src=https://cdn.jsdelivr.net/npm/dna.js@@@minorVersion/dna.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/fetch-json@2.1/fetch-json.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13/build/highlight.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/hljs-enhance@0.0/hljs-enhance.js></script>
<script src=https://cdn.jsdelivr.net/npm/web-ignition@0.0/dist/library.min.js></script>
<script src=@@webRoot/app.js></script>
</body>
</html>
