<!doctype html>
<!--

\ ,-"-.   ,-"-. ,-"-.   ,-"-. ,-"-.   ,
 X | | \ / | | X | | \ / | | X | | \ /
/ \| | |X| | |/ \| | |X| | |/ \| | |X|
   `-!-' `-!-"   `-!-' `-!-'   `-!-' `-

-->
<!-- - - - - - - - - - - - - - -->
<!-- dna.js Semantic Templates -->
<!-- http://dnajs.org          -->
<!-- MIT/GPLv3                 -->
<!-- - - - - - - - - - - - - - -->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="dna.js">
<meta name=google-site-verification   content="07GEe8VaEwhbW3EiRmJ_D92sLqgfBEa0zlsvGKFB5rM">
<title>@@title &bull; @@pkg.description</title>
<link rel=icon             href=@@webRoot/graphics/bookmark.png>
<link rel=apple-touch-icon href=@@webRoot/graphics/mobile-home-screen.png>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/fontawesome/4/css/font-awesome.min.css>
<link rel=stylesheet       href=http://centerkey.com/css/reset.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/highlight.js/9.3/styles/docco.min.css>
<link rel=stylesheet       href=http://centerkey.com/files/hljs-enhance/hljs-enhance.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/dna.js/0/dna.css>
<link rel=stylesheet       href=@@webRoot/style.css>
<script src=https://cdn.jsdelivr.net/jquery/3/jquery.min.js></script>
</head>
<body>

<header>
   <nav>
      <ul>
         <li><a href=@@webRoot>Home</a></li>
         <li><a href=@@webRoot/hello-world>Example</a></li>
         <li><a href=@@webRoot/tutorial>Tutorial</a></li>
         <li><a href=@@webRoot/docs>Documentation</a></li>
         <li><a href=@@webRoot/license>License</a></li>
      </ul>
   </nav>
   <h1>@@pkg.dna.fullName</h1>
   <h2>@@pkg.description</h2>
   <div class=logo>
      <a href=http://dnajs.org>
         <img src=@@webRoot/graphics/dnajs-logo.png alt=Logo>
      </a>
   </div>
</header>
