<!doctype html>
<!--

\ ,-"-.   ,-"-. ,-"-.   ,-"-. ,-"-.   ,
 X | | \ / | | X | | \ / | | X | | \ /
/ \| | |X| | |/ \| | |X| | |/ \| | |X|
   `-!-' `-!-"   `-!-' `-!-'   `-!-' `-

dna.js ~~ https://dnajs.org
-->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="dna.js">
<meta name=google-site-verification   content="07GEe8VaEwhbW3EiRmJ_D92sLqgfBEa0zlsvGKFB5rM">
<meta property=og:title               content="dna.js">
<meta property=og:description         content="An uncomplicated user interface library for semantic templates">
<meta property=og:type                content="website">
<meta property=og:image               content="https://dnajs.org/graphics/dnajs-logo-card.png">
<meta property=og:image:alt           content="Logo">
<title>dna.js ~~ @@title</title>
<link rel=icon             href=@@webRoot/graphics/bookmark.png>
<link rel=apple-touch-icon href=@@webRoot/graphics/mobile-home-screen.png>
<link rel=publisher        href=https://plus.google.com/+DnajsOrg>
<link rel=stylesheet       href=https://use.fontawesome.com/releases/v5.1.0/css/all.css>
<link rel=stylesheet       href=https://centerkey.com/css/reset.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12/build/styles/docco.min.css>
<link rel=stylesheet       href=https://centerkey.com/files/hljs-enhance/hljs-enhance.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna.js@@@minorVersion/dna.css>
<link rel=stylesheet       href=@@webRoot/panel-nav.css>
<link rel=stylesheet       href=@@webRoot/style.css>
<script src=https://cdn.jsdelivr.net/npm/jquery@3.3/dist/jquery.min.js></script>
</head>
<body>

<header>
   <nav>
      <ul>
         <li><a href=@@webRoot>Home</a></li>
         <li><a href=@@webRoot/hello-world>Example</a></li>
         <li><a href=@@webRoot/tutorial>Tutorial</a></li>
         <li><a href=@@webRoot/docs>Documentation</a></li>
         <li><a href=@@webRoot/license>License</a></li>
      </ul>
   </nav>
   <h1>dna.js</h1>
   <h2>@@pkg.description</h2>
   <div class=logo>
      <a href=https://dnajs.org><img src=@@webRoot/graphics/dnajs-logo.png alt=logo></a>
   </div>
   <a id=fork-me href=https://github.com/dnajs/dna.js>Fork me on GitHub</a>
</header>
