<footer>
   <div>
      <p id=social-buttons></p>
      <p>
         <a href=https://github.com/dnajs/dna.js>
            <i data-icon=star></i> it on <i data-brand=github-alt></i>
         </a>
      </p>
      <a rel=license href=http://creativecommons.org/licenses/by-sa/4.0 class=external-site>
         <img src=https://licensebuttons.net/i/l/by-sa/transparent/33/33/33/88x31.png alt=license>
      </a>
      <p><a href=https://dnajs.org class=plain>https://dnajs.org</a></p>
   </div>
</footer>

<script src=https://cdn.jsdelivr.net/npm/dna.js@@@minorVersion/dist/dna.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/fetch-json@2.2/dist/fetch-json.min.js></script>
<script src=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13/build/highlight.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/hljs-enhance@0.0/hljs-enhance.js></script>
<script src=https://cdn.jsdelivr.net/npm/web-ignition@1.0/dist/library.min.js></script>
<script src=@@webRoot/app.js></script>
</body>
</html>
