<!doctype html>
<!--
\ ,-"-.   ,-"-. ,-"-.   ,-"-. ,-"-.   ,
 X | | \ / | | X | | \ / | | X | | \ /
/ \| | |X| | |/ \| | |X| | |/ \| | |X|
   `-!-' `-!-"   `-!-' `-!-'   `-!-' `-
dna-engine ~~ https://dna-engine.org
-->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="dna-engine ~~ {{title}} ~~ {{package.description}}">
   <meta name=apple-mobile-web-app-title content="dna-engine">
   <meta name=google-site-verification   content="07GEe8VaEwhbW3EiRmJ_D92sLqgfBEa0zlsvGKFB5rM">
   <meta name=twitter:card               content="summary_large_image">
   <meta name=twitter:title              content="dna-engine ~~ {{title}}">
   <meta name=twitter:description        content="{{package.description}}">
   <meta property=og:title               content="dna-engine ~~ {{title}}">
   <meta property=og:description         content="{{package.description}}">
   <meta property=og:type                content="website">
   <meta property=og:image               content="https://dna-engine.org/graphics/dna-logo-card.png">
   <meta property=og:image:alt           content="Logo">
   <title>dna-engine ~~ {{title}}</title>
   <link rel=icon             href={{webRoot}}/graphics/bookmark.png>
   <link rel=apple-touch-icon href={{webRoot}}/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{package.devDependencies.highlight-js|version}}/build/styles/docco.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/hljs-enhance@{{package.devDependencies.hljs-enhance|version}}/hljs-enhance.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{package.devDependencies.-fortawesome-fontawesome-free|version}}/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@{{package.version|minor-version}}/dist/dna-engine.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@{{package.version|minor-version}}/dist/panel-nav.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/web-ignition@{{package.devDependencies.web-ignition|version}}/dist/reset.min.css>
   <link rel=stylesheet       href={{webRoot}}/style.css>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@{{package.version|minor-version}}/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/fetch-json@{{package.devDependencies.fetch-json|version}}/dist/fetch-json.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{package.devDependencies.highlight-js|version}}/build/highlight.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{package.devDependencies.highlight-js|version}}/build/languages/http.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/hljs-enhance@{{package.devDependencies.hljs-enhance|version}}/hljs-enhance.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@{{package.devDependencies.web-ignition|version}}/dist/lib-x.min.js></script>
   <script defer src={{webRoot}}/app.js></script>
</head>
<body>

<header>
   <nav>
      <ul>
         <li><a id=nav-home        href={{webRoot}}>Home</a></li>
         <li><a id=nav-hello-world href={{webRoot}}/hello-world>Example</a></li>
         <li><a id=nav-tutorial    href={{webRoot}}/tutorial>Tutorial</a></li>
         <li><a id=nav-docs        href={{webRoot}}/docs>Documentation</a></li>
         <li><a id=nav-license     href={{webRoot}}/license>License</a></li>
      </ul>
   </nav>
   <h1>dna-engine</h1>
   <h2>{{package.description}}</h2>
   <div class=logo>
      <a href=https://dna-engine.org><img src={{webRoot}}/graphics/dna-logo.png alt=logo></a>
   </div>
   <a id=fork-me href=https://github.com/dna-engine/dna-engine>Fork me on GitHub</a>
</header>
