/* Live in Style -- dna.js  */

/* Bookstore */
.featured-books {
   width: 300px;
   background-color: whitesmoke;
   border: 1px solid black;
   box-shadow: 2px 2px 0.1em 0.1em silver;
   padding: 10px 20px;
   margin: 0px auto 20px auto;
   }
.featured-books h2 {
   margin-bottom: 5px;
   }
.featured-books .buttons {
   text-align: center;
   font-size: 11pt;
   margin-bottom: 10px;
   }
.featured-books .book {
   background-color: gold;
   border: 1px solid silver;
   padding: 10px;
   margin: 0px 10px 10px 10px;
   }
.featured-books .book span {
   font-weight: bold;
   }

/* Layout */
html {
   background: lightsteelblue url(graphics/bkgnd.jpg) fixed;  /* http://www.nist.gov/oles/forensics/images/DNA-Strand.jpg */
   background-size: cover;
   }
body {
   font-size: 16px;
   margin: 0px;
   }
.main-content {
   width: 800px;
   background-color: rgba(255,255,255,0.9);
   border-left: 1px solid steelblue;
   border-right: 1px solid steelblue;
   padding: 20px 50px 50px 50px;
   margin: 0px auto;
   box-shadow: 0px 0px 2.0em 0.0em white;
   }
h1 {
   text-align: center;
   color: steelblue;
   margin-bottom: 5px;
   }
h2 {
   text-align: center;
   margin-bottom: 20px;
   }
h3 {
	clear: both;
   text-align: center;
   font-size: 14pt;
   color: steelblue;
   background-color: aliceblue;
   border: 1px dotted;
   border-radius: 4px;
   padding: 5px 0px;
   margin-top: 30px;
   margin-bottom: 10px;
   }
h4 {
   font-size: 13pt;
   color: steelblue;
   margin-bottom: 4px;
   }
section {
   border: 3px solid silver;
   padding: 10px 20px;
   margin-bottom: 20px;
   }
dt {
   font-weight: bold;
   }
p>code, dd>code {
   font-weight: bold;
   white-space: nowrap;
   }
#logo {
   float: left;
   margin: 2px 15px 5px 0px;
   }
#logo img {
   height: 90px;
   }
#logo img:hover {
   opacity: 0.9;
	}
.side-image {
   height: 100px;
   }

.gateway-sidebar {
   float: right;
   width: 325px;
   margin-left: 40px;
   }
.gateway-sidebar .alt-link {
   text-align: right;
   font-size: 11px;
   margin: 15px 0px 20px 0px;
   }
#social-buttons {
   margin: 20px 0px;
   }
#news {
   font-size: 9pt;
   background-color: gainsboro;
   border: 1px solid dimgray;
   border-radius: 2px;
   padding: 5px 15px;
   margin-bottom: 30px;
   }
#news h4 {
   font-size: 11pt;
   font-weight: bold;
   text-align: center;
   color: dimgray;
   }
#news header {
   display: inline-block;
   font-size: 8pt;
   color: white;
   background-color: gray;
   padding: 3px 10px;
   margin-bottom: 3px;
   }
.reveal-action {
   font-size: 8pt;
   }

.link-box {
   font-size: 10pt;
   }
.link-box p {
   margin: 0pt 0pt 2pt 20pt;
   }

.toc {
   font-size: 13pt;
   margin-bottom: 20px;
   }
.toc header {
   font-weight: bold;
   }
.toc li a {
   color: steelblue;
   }
.toc li a:hover {
   color: white;
   }

.api-description {
   font-style: italic;
   margin-bottom: 10px;
   }
.api-parameters >ul {
   list-style-type: none;
   padding: 0px;
   margin-bottom: 20px;
   }
.api-parameters >ul >li {
   border: 1px dotted steelblue;
   padding: 10px;
   margin-bottom: 10px;
   }
.api-parameters ul li label {
   margin: 0px;
   }
.api-parameters ul ul {
   list-style-type: none;
   }
.api-parameters ul ul li {
   position: relative;
   padding-bottom: 5px;
   margin-left: 175px;
   }
.api-parameters ul ul li label {
   position: absolute;
   top: 0px;
   left: -190px;
   }

.legal-terms {
   white-space: pre-wrap;
   font-size: 10pt;
   font-family: monospace;
   background-color: white;
   border: 1px solid silver;
   padding: 2px 30px 20px 30px;
   }
#gateway-footer {
   text-align: center;
   margin-top: 20px;
   }

/* Tools */
.snazzy-button {
   text-align: center;
   font-size: 22px;
   font-weight: bold;
   color: gray;
   background-color: lightskyblue;
   border: 1px solid dimgray;
   border-radius: 10px;
   padding: 10px 25px;
   box-shadow: 0px 0px 0.5em 0.3em lightcyan;
   }
.snazzy-button img {
   height: 20px;
   }
.snazzy-button div {
   font-size: 12px;
   }
.snazzy-button:hover {
   background-color: #8CD3FF;
   box-shadow: 0px 0px 0.5em 0.4em lightcyan;
   }

.subtle-note {
   text-align: center;
   font-size: 9pt;
   padding: 0px 20%;
   }

.image-frame {
   text-align: center;
   }
.image-frame img {
   border: 3px solid steelblue;
   }

.down-arrow:before {
   content: "\21E7";
   }
.down-arrow {
   text-align: center;
   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
           transform: rotate(180deg);
   font-size: 25pt;
   font-weight: bold;
   color: steelblue;
   margin: -10px 0px 10px 0px;
   }

/* GitHub fork me */
#github-banner {
   position: absolute;
   top: 0px;
   right: 0px;
   opacity: 0.8;
   }
#github-banner:hover {
   opacity: 1.0;
   }

/* Prism */
.main-content .code-caption {
   width: 80%;
   font-size: 12pt;
   font-weight: bold;
   color: white;
   background-color: steelblue;
   padding: 5px 10px 2px 10px;
   margin: 0px auto;
   }
.main-content pre[class*=language-] {
   width: 80%;
   font-size: 11pt;
   font-weight: normal;
   background-color: white;
   border: 3px solid steelblue;
   margin: 0px auto 20px auto;
   }
.main-content .full-screen-code .code-caption {
   width: 100%;
   }
.main-content .full-screen-code pre {
   width: 100%;
   font-size: 10pt;
   }

/* Reveal Action */
.reveal-action       {
   color: steelblue;
   }
.reveal-action:hover {
   background-color: steelblue;
   border-color: steelblue;
   }

/* PERFECT */
.perfect {
   border-color: steelblue;
   margin-top: 20px;
   }
.perfect h1 {
   background-color: steelblue; color: white;
   }
.perfect input, .perfect textarea {
   background-color: white;
   }

/* Navigation bar */
ul.navigation-bar {
   display: inline-block;
   list-style-type: none;
   padding: 0px;
   margin: 0px 0px 20px 0px;
   }
ul.navigation-bar li {
   display: table-cell;
   }
ul.navigation-bar li a {
   display: inline-block;
   text-decoration: none;
   font-weight: bold;
   font-size: 13px;
   color: darkgray;
   border-bottom: 1px solid darkgray;
   padding: 1px 15px;
   margin: 0px 10px;
   outline: none;
   }
ul.navigation-bar li.current a,
ul.navigation-bar li a:hover {
   background-color: transparent;
   color: dimgray;
   border-color: dimgray;
   }
